<div class="container">
		<div *ngIf="this.modo === 'agregada'" class="header">
			<h1 class="header-heading">Datos de la nueva Bicicleta</h1>
		</div>
		<div *ngIf="this.modo === 'modificada'" class="header">
			<h1 class="header-heading">Datos de la Bicicleta modificada</h1>
		</div>
		<div class="content">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody>
					<tr>
						<th>Numero de Cuadro</th>
						<th>{{bicicleta.numeroCuadro}}</th>

					</tr>
					<tr>
						<th>Fecha Ingreso</th>
						<th>{{bicicleta.fechaIngreso}}</th>
					</tr>
					<tr>
						    <th>Estado</th>					
					        <th>
					        {{bicicleta.estado}}
	            			</th>
					</tr>
					<tr>
						<th>Ubicacion actual</th>
						<th>{{bicicleta.ubicacionActual}}</th>
					</tr>
					<tr>
						<th>Identificador Generado</th>
						<th>{{bicicleta.id}}</th>
					</tr>
					<tr>
						<th><button (click)="volver()">Volver</button>
						</th>
					</tr>
				</tbody>
			</table>

		</div>
	</div>