<div class="container">
	<div *ngIf="modo === 'agregado'" class="header">
		<h1 class="header-heading">Datos de su nuevo Usuario</h1>
	</div>
	<div *ngIf="modo === 'modificado'" class="header">
			<h1 class="header-heading">Se han aplicado los cambios</h1>
		</div>
	<div class="content">
		<table class="table table-striped">
			<thead>
			</thead>
			<tbody>
				<tr>
					<th>DNI</th>
					<th>{{this.user.dni}}</th>

				</tr>
				<tr>
					<th>Nombre</th>
					<th>{{this.user.nombres}}</th>
				</tr>
				<tr>
					<th>Apellido</th>
					<th>{{this.user.apellido}}</th>
				</tr>
				<tr>
					<th>Sexo</th>
					<th *ngIf="this.user.sexo === 'F'">
						Femenino
					</th>
					<th *ngIf="this.user.sexo === 'M'">
						Masculino
					</th>
				</tr>
				<tr>
					<th>Domicilio</th>
					<th>{{this.user.domicilio}}</th>
				</tr>
				<tr>
					<th>E-Mail</th>
					<th>{{this.user.mail}}</th>
				</tr>
				<tr>
					<th>Fecha Nacimiento</th>
					<th>{{this.user.fechaNac}}</th>
				</tr>
				<tr>
					<th>Identificador Generado</th>
					<th>{{this.user.id}}</th>
				</tr>
				<tr>
					<th>
						<button (click)="volver()">Volver</button>
					</th>
				</tr>
			</tbody>
		</table>

	</div>
</div>