<div class="container">
	<div class="header">
		<h1 class="header-heading">Mis Prestamos</h1>
	</div>
	<br>
	<div class="content">
			<div>
					Se muestran los prestamos de:
				</div>
				<div>
					{{this.miNombre}}
				</div>
		<br>
		<form>
			<table class="table table-striped">

				<thead>
					<tr>
						<th>Numero de Cuadro</th>
						<th>Ubicacion</th>
						<th>Denunciar mal estado</th>
						<th>Comentario</th>
					</tr>
				</thead>
				<tbody *ngFor="let prestamo of this.misPrestamos">
					<tr>
						<th>{{prestamo.numeroCuadro}}</th>
						<th>{{prestamo.ubicacionActual}}</th>
	
						<th><input [(ngModel)]="prestamo.denunciada" type="checkbox" name="malEstado"></th>
						<th><input [(ngModel)]="prestamo.comentario" type="text" name="comentario" size="30" /></th>
						<th><button  [disabled]="enviado" (click)="devolver(prestamo)" class="btn">Devolver</button></th>
					</tr>
				</tbody>

			</table>
		</form>
			<br>

			<table class="table table-striped">
				<thead>

				</thead>
				<tbody>
					<tr>
						<th> 
							<button (click)="volver()">Volver</button>
						</th>
					</tr>
				</tbody>
			</table>
	</div>
</div>