<ng-content></ng-content>
<div class="container">
	<div *ngIf="this.id.toString() === '0'" class="header">
		<h1 class="header-heading">Agregar Bicicleta</h1>
	</div>
	<div *ngIf="this.id.toString() !== '0'" class="header">
			<h1 class="header-heading">Modificar Bicicleta</h1>
		</div>
	
	<div class="content">

		<table class="table table-striped">
			<thead>
			</thead>
			<tbody>
				<tr>
					<th>Numero de Cuadro</th>
					<th><input [(ngModel)]="bicicleta.numeroCuadro" size="20"></th>
				</tr>
				<tr>
					<th>Estado</th>
					<th *ngIf="bicicleta.estado === 'prestada'">Prestada</th>
					<th *ngIf="bicicleta.estado !== 'prestada'"><select [(ngModel)]="bicicleta.estado">
							<option value="" selected>--Seleccione--</option>
							<option value="Apta">Apta para uso</option>
							<option value="Reparacion">En reparacion</option>
							<option value="Desuso">En desuso</option>
							<option value="Denunciada">Denunciada</option>
						</select></th>
				</tr>

				<tr>
					<th>Ubicacion</th>
					<th>
						<select [(ngModel)]="bicicleta.idEstacion">
							<option value="0" selected>--Seleccione--</option>
							<option *ngFor="let x of estaciones" [value]="x.id">{{x.nombre}}
							</option>
						</select>
					</th>
				</tr>
				<tr>
					<th><button [disabled]="enviado" (click)="onSubmit()">Guardar</button>
					</th>
					<th><button (click)="volver()">Volver</button>
					</th>
				</tr>
				<tr>
					<th style="color:rgb(122, 117, 117)" *ngIf="numeroCuadroInvalido">
						Debe ingresar un numero de cuadro
					</th>
				</tr>
				<tr>
					<th style="color:rgb(122, 117, 117)" *ngIf="estadoInvalido">
						Debe seleccionar un estado
					</th>
				</tr>
				<tr>
					<th style="color:rgb(122, 117, 117)" *ngIf="ubicacionInvalida">
						Debe seleccionar una ubicacion
					</th>
				</tr>
			</tbody>
		</table>



	</div>
</div>